{% extends 'layouts/main.html' %}

{% block content %}
<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder">
      <!--Add details about the payment here!-->
       <p>
        Your have been successfully charged
      $<span class="amount" data-amount="{{ amount }}"></span>
    </p>

    <p>
      Your Stripe PaymentIntent ID is {{ payment_intent_id }}
    </p>

    <a href="/" class="btn btn-primary mt-20">
      Return to shop
    </a>
    </div>
  </div>
</main>
{% endblock %}